cmake-build-debug/
*.tmp
.cproject
.mxproject
.idea/workspace.xml
.idea/misc.xml
.project
mx.scratch
Src/Backup/
/build/
.idea/encodings.xml
.idea/FlightControllerSoftware.iml
/Inc/Backup/
