*.gch
*.d
*.o
*.bin
*.elf
*.hex
*.map
doc/
BUILD/
cmake-build-debug
mbed-os
*.py
.build
/.mbed
.idea/
### C template
# Prerequisites

# Object files
*.ko
*.obj

# Linker output
*.ilk
*.exp

# Precompiled Headers
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
### C++ template
# Prerequisites

# Compiled Object files
*.slo

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai

# Executables
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
